.about-vra {
  background-color: #d25e4c;
  padding: 30px 0;

  .section-header {
    margin: 0 0 20px;
    text-align: center;
  }

  .act-bullet-points {
    list-style-type: none;
    margin-top: 30px;

    li {
      background-position: top center;
      background-repeat: no-repeat;
      padding-top: 155px;
      
      &.violations {
        background-image: image-url("icons/icon-5-violations.png");
      }

      &.us-map {
        background-image: image-url("icons/icon-us-map.png");
      }

      &.handshake {
        background-image: image-url("icons/icon-handshake.png");
      }
    }
  }

  .read-bill {
    margin-top: 40px;
    text-align: center;

    a {
      background-color: #fff;
      border-radius: 10px;
      color: #d25e4c;
      font-family: localFont-sbold;
      font-size: 22px;
      padding: 15px 60px;
      text-align: center;

      &:hover {
        background-color: #f5efe5;
      }
    }
  }
}