.petition {
  background: #000 image-url("Dr_Martin_Luther_King_jr.png") no-repeat bottom right;
  position: relative;
  z-index: 10;
}

.petition-summary {
  @extend .section-description;
}

.petition-cta {
  text-transform: uppercase;
  line-height: 3;
}

.petition-form {
  @include border-radius;
  background-color: #3c3c3c;
  background-color: rgba(255,255,255,.18);
  padding: 12px 20px;

  .columns {
    padding: 0 .45rem;
  }

  .btn-primary {
    display: block;
    width: 100%;
  }
}

.form-field {
  position: relative;

  label {
    color: #727272;
    font-size: rem-calc(12);
    display: none;
  }

  input {
    @include border-radius(2px);
    padding: 8px;
    height: auto;
  }
}

.video-link-block {
  margin-top: 80px;
  margin-bottom: 30px;
}
.video-link {
  display: block;
  padding-left: 65px;
  margin-left: -65px;
  background: transparent image-url("play-button.png") no-repeat left center;
}

.video-link-title {
  color: #fff;
  font-size: rem-calc(26);
  letter-spacing: .013rem;
  margin: 0;
  text-transform: uppercase;
}

.video-link-description {
  color: #ffa14e;
}
