// Grid
$row-width: rem-calc(1000);

// Globals
$body-bg: #000;
$body-font-color: #fff;
$body-font-family: "localFont", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family-semi-bold: "localFont-sbold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family-bold: "localFont-bold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$global-radius: 4px;

// Forms
$input-font-color: #727272;
$input-font-size: rem-calc(12);
$input-include-glowing-effect: false;

// Reveal
$reveal-modal-bg: #000;
$reveal-border-width: 0;